pip==22.1.2
bump2version==0.5.3
wheel==0.38.1
watchdog==2.1.6
flake8==4.0.1
tox==3.27.1
coverage==6.3.2
sphinx==5.0.2
twine==3.7.1

pytest==7.1.2
black==22.6.0

arch==4.19
joblib==1.2.0
lmfit==1.0.3
numpy==1.23.3
scipy==1.6.1
